@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
nav, section,
time, mark, audio, video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
}

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a:hover,
a:hover img {
  opacity: 0.80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

a {
  text-decoration: none;
}

/*------------------------------------------------------------
for develop
------------------------------------------------------------*/
#__bs_notify__ {
  opacity: 0.3 !important;
  font-size: 5px !important;
  line-height: 100% !important;
  padding: 0 5px 0 5px !important;
  border-radius: 0 !important;
}

.c-dev-title1 {
  clear: both;
  background: #282828;
  color: #FFF;
  line-height: 1;
  padding: 6px 0 6px 15px;
  font-size: 1.6rem;
  margin: 60px 0 20px 0;
}

.c-dev-title2 {
  background: #888;
  color: #FFF;
  line-height: 1;
  padding: 6px 0 6px 30px;
  font-size: 1.3rem;
  margin: 50px 0 10px 0;
}

.c-dev-message1 {
  top: 0;
  left: 0;
  background: #F00;
  color: #FFF;
  z-index: 9999;
  position: fixed;
  line-height: 1;
  padding: 3px 6px;
  opacity: 0.6;
  font-size: 8px;
}

@media (min-width: 768px) {
  .sp-only {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

/*------------------------------------------------------------
header top
------------------------------------------------------------*/
.c-header {
  height: 701px;
}

.c-header__bg {
  width: 1500px;
  position: absolute;
  z-index: -1;
  margin: 0 auto;
}

.c-header__bg img {
  width: 100%;
  height: 701px;
}

.c-header__content {
  position: absolute;
  z-index: 0;
}

.c-header__text {
  width: 860px;
  float: right;
  padding: 70px 0 43px 0;
}

.c-header__text--contact {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  margin: 45px 30px 0 0;
}

.c-header__slide {
  margin-left: 78px;
}

.c-header .slider {
  clear: both;
  width: 100%;
  width: 1318px;
  margin: 0 auto;
}

.c-header .slick-dots {
  line-height: 1;
  z-index: 1000;
  top: -23px;
  margin-left: 220px;
  display: table;
}

.c-header .slick-dots li {
  margin: 0 4px;
  background: #FCB316;
}

.c-header .slick-active {
  background: #00AAAD !important;
}

/*------------------------------------------------------------
	all of page
------------------------------------------------------------*/
.c-head {
  position: relative;
}

.c-head__bg {
  position: absolute;
  right: 0;
  z-index: -1;
}

.c-head01 {
  width: 530px;
  height: 700px;
  float: left;
  background: url(/assets/image/common/h_bg01.png);
}

.c-head02 {
  width: 250px;
  float: right;
  padding: 46px 0 0 8px;
}

.c-head02 a {
  overflow: hidden;
}

/*------------------------------------------------------------

------------------------------------------------------------*/
.c-h_infor {
  position: absolute;
  z-index: 1000;
  left: 258px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-h_infor .tbl-infor {
  background: url(/assets/image/common/bg01.png) no-repeat;
  width: 216px;
  height: 597px;
  padding: 53px 0 0 34px;
}

.c-h_infor .tbl-infor__txt01 {
  font-size: 1.3rem;
}

.c-h_infor .tbl-infor__txt01 span {
  color: #00AAAD;
}

.c-h_infor .tbl-infor__txt02 {
  font-size: 1.4rem;
  padding: 19px 0 0 7px;
}

.c-h_infor .tbl-infor__txt03 {
  font-size: 1.3rem;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  line-height: 26px;
  padding-top: 39px;
  letter-spacing: 1px;
}

.c-h_infor .tbl-infor__img {
  padding: 16px 0 0 37px;
}

.c-h_infor .tbl-infor__txt04 {
  padding-top: 88px;
  font-size: 1.2rem;
}

.c-h_infor .tbl-infor__txt04 p {
  padding-bottom: 7px;
}

.c-h_infor--home {
  margin-left: -25px;
}

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
/*------------------------------------------------------------*/
.c-footer {
  overflow: hidden;
  clear: both;
  margin-top: -30px;
}

.c-footer .c-footer01 {
  background: url(/assets/image/common/f-bg.png);
  -webkit-background-size: cover;
          background-size: cover;
  color: #fff;
  padding: 175px 0 65px 0;
  overflow: hidden;
}

.c-footer .c-footer01__menu {
  width: 770px;
  float: left;
}

.c-footer .c-footer01__block {
  padding-bottom: 35px;
}

.c-footer .c-footer01__col {
  float: left;
  width: 255px;
}

.c-footer .c-footer01__col ul {
  padding-top: 7px;
}

.c-footer .c-footer01__col li {
  padding: 6px 10px 0 8px;
}

.c-footer .c-footer01__col a {
  font-size: 1.4rem;
  color: #fff;
}

.c-footer .c-footer01__col .menu-title {
  width: 167px;
  border-bottom: 3px solid transparent;
  /* Safari 3.1-5 */
  /* Opera 11-12.1 */
  border-image: url(/assets/image/common/border02.png) 30 stretch;
  text-align: right;
  position: relative;
}

.c-footer .c-footer01__col .menu-title span {
  font-size: 2rem;
  position: absolute;
  left: 0;
  top: -13px;
}

.c-footer .c-footer01__social {
  width: 230px;
  float: right;
  text-align: right;
}

.c-footer .c-footer01__social a {
  color: #fff;
}

.c-footer .c-footer01__social--item {
  font-size: 1.2rem;
  border-top: 3px solid transparent;
  padding: 15px;
  /* Safari 3.1-5 */
  /* Opera 11-12.1 */
  border-image: url(/assets/image/common/border.png) 30 stretch;
}

.c-footer .c-footer01__social--item:last-child {
  border-bottom: 3px solid transparent;
}

.c-footer .c-footer01__social--item .social-icon {
  text-align: left;
  float: left;
}

.c-footer .c-footer01__social--item .social-cont {
  padding-top: 5px;
}

.c-footer .c-footer01__txt {
  font-size: 1.3rem;
  margin-bottom: 69px;
}

.c-footer .c-footer01__txt a {
  color: #fff;
}

.c-footer .c-footer01 .c-txt01 {
  line-height: 25px;
  padding-top: 71px;
}

.c-footer .c-footer02 {
  display: table;
  height: 110px;
  margin: 15px 0;
}

.c-footer .c-footer02__logo {
  width: 300px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  border: 1px solid #00AAAD;
  border-top: none;
  border-bottom: none;
}

.c-footer .c-footer02__infor {
  width: 667px;
  display: table-cell;
  vertical-align: middle;
  padding: 0 50px 0 75px;
  border-right: 1px solid #00AAAD;
}

.c-footer .c-footer02__infor--txt {
  width: 370px;
  float: left;
  font-size: 1.3rem;
  line-height: 25px;
}

.c-footer .c-footer02__infor--icon {
  float: right;
}

.c-footer .c-footer03 {
  background: url(/assets/image/common/f-bg01.png) center;
  -webkit-background-size: cover;
          background-size: cover;
}

.c-footer .c-footer03__copyright {
  font-size: 1.5rem;
  color: #fff;
  text-align: right;
  padding: 200px 10px 10px 0;
}

/*------------------------------------------------------------
side
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
breadcrumb
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
layout
------------------------------------------------------------*/
.l-container-fluid {
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
}

.l-container-fluid01 {
  max-width: 1500px;
  margin: 0 auto;
}

.l-container {
  width: 1000px;
  margin: 0 auto;
}

.l-wrapper {
  width: 715px;
  margin-left: 530px;
}

/*------------------------------------------------------------
btn
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
title
------------------------------------------------------------*/
/*------------------------------------------------------------*/
.c-title01 {
  font-size: 4.51rem;
  line-height: 1;
}

.c-title01--smtxt {
  font-size: 1.8rem;
}

.c-title01--color1 {
  color: #AB535F;
}

.c-title01--color2 {
  color: #00AAAD;
}

.c-title02 {
  font-size: 3rem;
  line-height: 44px;
  font-weight: 500;
}

.c-title03 {
  font-size: 2.4rem;
}

.c-title03 span {
  color: #AB535F;
}

.c-title03--smtxt {
  font-size: 1.4rem;
  padding-left: 5px;
}

/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
text
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-txt01 {
  line-height: 24.5px;
  font-size: 1.4rem;
}

.c-txt01 p {
  padding-bottom: 26px;
}

/*------------------------------------------------------------
navi
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
img
------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------
list
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
table
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
line
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
other
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-line {
  height: 9px;
}

.c-line--01 {
  background: url(/assets/image/index/line01.png);
  margin-top: 4px;
}

.c-line--02 {
  background: url(/assets/image/index/line02.png);
  margin-top: 10px;
}

/*
------------------------------------------------------------*/
.c-contact {
  padding: 86px 0 50px 0;
  position: relative;
}

.c-contact__infor {
  float: left;
  width: 470px;
  text-align: center;
}

.c-contact__infor--01 {
  font-size: 3rem;
}

.c-contact__infor--02 {
  font-size: 5.793rem;
  line-height: 1;
  padding-top: 10px;
}

.c-contact__infor--03 {
  font-size: 2.2rem;
  padding-top: 10px;
}

.c-contact__lable {
  margin: 16px 0 0 60px;
  display: -webkit-inline-box;
}

/*
------------------------------------------------------------*/
.c-bgtree {
  position: absolute;
  left: -570px;
  bottom: -20px;
  z-index: -1;
}

/*
------------------------------------------------------------*/
.c-breadcrumb {
  padding: 45px 0 75px 0;
  overflow: hidden;
}

.c-breadcrumb li {
  float: left;
  font-size: 1.2rem;
}

.c-breadcrumb li a {
  color: #FCB316;
}

/*------------------------------------------------------------
index
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.p-top {
  background: url(/assets/image/index/bg-top.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 100%;
}

.p-top .p-top01 {
  padding-top: 27px;
}

.p-top .p-top01 .l-wrapper {
  position: relative;
}

.p-top .p-top01__title {
  text-align: center;
  font-size: 4.3rem;
  line-height: 60px;
  font-weight: 500;
}

.p-top .p-top01__txt01 {
  font-size: 1.4rem;
  line-height: 22px;
  text-align: center;
  padding-top: 20px;
  margin-left: -51px;
}

.p-top .p-top01__img01 {
  position: absolute;
  right: 0;
  margin-top: -55px;
}

.p-top .p-top01__block {
  clear: both;
  width: 762px;
  margin-left: 446px;
  padding-top: 60px;
}

.p-top .p-top01__block .block-left {
  width: 350px;
  float: left;
}

.p-top .p-top01__block .block-right {
  width: 402px;
  padding: 59px 0 0 35px;
  display: inline-block;
}

.p-top .p-top01__block .c-txt01 {
  padding-top: 12px;
}

.p-top .p-top02 {
  padding-top: 129px;
}

.p-top .p-top02__left {
  width: 330px;
  float: left;
}

.p-top .p-top02__left .c-title02 {
  padding-top: 30px;
}

.p-top .p-top02__left .c-txt01 {
  padding-top: 26px;
}

.p-top .p-top02__right {
  width: 358px;
  display: inline-block;
  margin-left: 27px;
  padding-top: 63px;
}

.p-top .p-top03 {
  padding-top: 50px;
}

.p-top .p-top03__cont {
  text-align: center;
  padding-top: 22px;
  overflow: hidden;
}

.p-top .p-top03__cont--col1 {
  width: 246px;
  float: left;
}

.p-top .p-top03__cont--col1 .img01 {
  padding-bottom: 295px;
}

.p-top .p-top03__cont--col2 {
  width: 232px;
  float: left;
  padding-top: 163px;
}

.p-top .p-top03__cont--col3 {
  padding: 326px 0 0 7px;
  display: inline-block;
}

.p-top .p-top03__cont--col3 .bg {
  position: relative;
  margin-top: -10px;
  z-index: -1;
}

.p-top .p-top04 {
  padding-top: 196px;
}

.p-top .p-top04 .c-title02 {
  padding-top: 5px;
}

.p-top .p-top04 .c-txt01 {
  padding-top: 9px;
}

.p-top .p-top04__block {
  padding-top: 30px;
}

.p-top .p-top04__item {
  width: 580px;
  display: table;
  padding-bottom: 35px;
}

.p-top .p-top04__item .block-img {
  width: 273px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.p-top .p-top04__item .block-text {
  width: 310px;
  display: table-cell;
}

.p-top .p-top04__item .block-text .c-txt01 span {
  color: #AB535F;
  font-weight: 500;
}

.p-top .p-top04__item:last-child {
  width: 593px;
  margin-left: 65px;
}

.p-top .p-top04__item:last-child .block-text {
  padding-left: 35px;
}

.p-top .p-top05 {
  width: 500px;
  float: right;
  background: #d6eef0;
  padding: 11px;
  margin-top: 305px;
  border-radius: 20px;
  position: relative;
}

.p-top .p-top05__title {
  padding: 28px 0 0 25px;
}

.p-top .p-top05__title--01 {
  font-size: 4.51rem;
  line-height: 1;
}

.p-top .p-top05__title--02 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #00AAAD;
  margin-top: -5px;
}

.p-top .p-top05__img {
  position: absolute;
  top: -28px;
  right: 25px;
}

.p-top .p-top05__cont {
  background: #fff;
  border-radius: 20px;
  margin-top: 20px;
  padding: 23px 33px 10px  36px;
}

.p-top .p-top05__cont--txt {
  font-size: 2.1rem;
  padding-bottom: 10px;
}

.p-top .p-top05__cont .c-txt01 {
  text-indent: 10px;
}

.p-top .p-top06 {
  clear: both;
  padding-top: 250px;
}

.p-top .p-top06 .c-title01 {
  float: left;
}

.p-top .p-top06__img {
  margin: -40px 0 0 60px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.p-top .p-top06 .box {
  float: left;
  width: 220px;
  height: 295px;
  margin: 15px 20px 0 0;
  display: inline-block;
}

.p-top .p-top06 .box__img {
  width: 220px;
  height: 125px;
  background: #ccc;
  border-radius: 10px;
}

.p-top .p-top06 .box__txt {
  text-align: center;
}

.p-top .p-top06 .box__txt--01 {
  font-size: 3.6rem;
  padding-top: 10px;
}

.p-top .p-top06 .box__txt--02 {
  font-size: 1.8rem;
}

.p-top .p-top06 .box:nth-child(3n) {
  margin-right: 0;
  float: none;
}

.p-top .p-top07 {
  padding: 30px 0 50px0 0;
  position: relative;
}

.p-top .p-top07 .c-title02 {
  letter-spacing: -1.4px;
}

.p-top .p-top07 .form-contact {
  padding-top: 40px;
  font-size: 1.6rem;
}

.p-top .p-top07 .form-contact .form-lable {
  padding: 5px 0;
}

.p-top .p-top07 .form-contact .form-lable span {
  color: #AB535F;
}

.p-top .p-top07 .form-contact .form-text {
  width: 660px;
  height: 18px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.p-top .p-top07 .form-contact .form-textarea {
  width: 660px;
  height: 190px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.p-top .p-top07 .form-contact .form-check {
  margin-left: 15px;
}

.p-top .p-top07 .form-contact .form-btn {
  margin-top: 20px;
}

.p-top .p-top07 .form-contact .form-btn a {
  width: 335px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  background: #00AAAD;
  display: inline-block;
  border-radius: 5px;
}

.p-top .p-top07 .form-contact .form-btn a:nth-child(1) {
  margin-right: 10px;
}

/*------------------------------------------------------------
flow
------------------------------------------------------------*/
.p-flow .p-flow01__image01 {
  padding-top: 29px;
}

.p-flow .p-flow01__txt01 {
  padding-top: 34px;
  font-size: 1.4rem;
  text-align: center;
  line-height: 2.2rem;
}

.p-flow .p-flow01__txt01 p {
  padding-bottom: 22px;
}

.p-flow .p-flow01__step {
  padding: 31px 0 147px 0;
}

.p-flow .p-flow01__steptitle {
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.p-flow .p-flow01__steptitle--img {
  float: left;
  margin-right: 22px;
}

.p-flow .p-flow01__step-cont01 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-flow .p-flow01__step-cont01 .step-img {
  width: 320px;
  float: left;
  text-align: center;
}

.p-flow .p-flow01__step-cont01 .step-txt {
  width: 385px;
  text-align: justify;
}

.p-flow .p-flow01__step-cont01 .c-txt01 {
  text-align: justify;
}

.p-flow .p-flow01__step-cont02 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}

.p-flow .p-flow01__step-cont02 .step-img {
  width: 305px;
  float: left;
  text-align: center;
}

.p-flow .p-flow01__step-cont02 .step-txt {
  width: 410px;
  padding: 10px 0 0 75px;
}

.p-flow .p-flow01 #step01 .p-flow01__steptitle {
  padding-left: 254px;
}

.p-flow .p-flow01 #step01 .c-txt01 {
  padding: 35px 10px 0 5px;
}

.p-flow .p-flow01 #step03 {
  padding-top: 82px;
}

.p-flow .p-flow01 #step03 .p-flow01__steptitle {
  padding-left: 40px;
}

.p-flow .p-flow01 #step03 .c-txt01 {
  padding: 29px 10px 0 5px;
}

.p-flow .p-flow01 #step02 {
  padding-top: 122px;
  position: relative;
}

.p-flow .p-flow01 #step02 .p-flow01__steptitle {
  padding-left: 8px;
}

.p-flow .p-flow01 #step04 {
  padding-top: 106px;
}

.p-flow .p-flow01 #step04 .c-txt01 {
  padding-top: 52px;
}

.p-flow .p-flow01 #step05 {
  padding-top: 66px;
}

.p-flow .p-flow01 #step05 .p-flow01__steptitle {
  padding-left: 225px;
}

.p-flow .p-flow01 #step05 .c-txt01 {
  padding-top: 48px;
}

.p-flow .p-flow02 {
  padding-bottom: 47px;
  position: relative;
}

.p-flow .p-flow02__title {
  font-size: 3rem;
  padding-bottom: 16px;
  font-weight: 500;
}

.p-flow .p-flow02__paragraph {
  padding-bottom: 74px;
}

.p-flow__bg01 {
  background: url(/assets/image/flow/grass01.png);
  width: 350px;
  height: 152px;
  position: absolute;
  right: -350px;
  top: 315px;
}

.p-flow__bg02 {
  background: url(/assets/image/flow/grass02.png);
  width: 373px;
  height: 126px;
  position: absolute;
  left: -540px;
  top: -80px;
}
