/*------------------------------------------------------------
footer
------------------------------------------------------------*/

/*------------------------------------------------------------*/
.c-footer{
	overflow: hidden;
   	clear: both;
   	margin-top: -30px;
	.c-footer01{
		background: url(/assets/image/common/f-bg.png);
		background-size: cover;
		color: #fff;
		padding: 183px 0 38px 0;
		overflow: hidden;
		&__menu{
			width: 770px;
			float: left;
		}
		&__block{
			padding-bottom: 35px;
		}
		&__col{
			float: left;
			width: 255px;
			ul{
				padding-top: 7px;
			}
			li{
				padding: 6px 10px 0 8px;
			}
			a{
				font-size: 1.4rem;
				color: #fff;
			}
			.menu-title{
				width: 167px;
				border-bottom: 3px solid transparent;
			    -webkit-border-image: url(/assets/image/common/border02.png) 30 stretch; /* Safari 3.1-5 */
			    -o-border-image: url(/assets/image/common/border02.png) 30 stretch; /* Opera 11-12.1 */
			    border-image: url(/assets/image/common/border02.png) 30 stretch;
			    text-align: right;
    			position: relative;
				span{
					font-size: 2rem;
					   position: absolute;
				    left: 0;
				    top: -13px;
				}
			}
		}
		&__social{
			width: 230px;
			float: right;
			text-align: right;
			a{
				color: #fff;
			}
			&--item{
				font-size: 1.2rem;
				border-top: 3px solid transparent;
			     padding: 15px 15px 16px 3px;
			    -webkit-border-image: url(/assets/image/common/border.png) 30 stretch; /* Safari 3.1-5 */
			    -o-border-image: url(/assets/image/common/border.png) 30 stretch; /* Opera 11-12.1 */
			    border-image: url(/assets/image/common/border.png) 30 stretch;
			    &:last-child{
			    	border-bottom: 3px solid transparent;
			    }
			    .social-icon{
			    	text-align: left;
			    	float: left;
			    }
			    .social-cont{
			    	padding-top: 6px;
			    }
			}
			 .c-footer01__txt{
		    	 margin-bottom: 66px;
		    }
		}
		&__txt{
			 font-size: 1.3rem;
			 margin-bottom: 71px;
			 a{
			 	color: #fff;
			 }
		}
		.c-txt01{
			line-height: 25px;
			padding-top: 71px;
		}
	}
	.c-footer02{
		display: table;
		height: 110px;
		margin: 15px 0;
		&__logo{
			width: 328px;
			text-align: center;
			display: table-cell;
			vertical-align: middle;
			border: 1px solid #00AAAD;
			border-top: none;
			border-bottom: none;
		}
		&__infor{
			width: 667px;
			display: table-cell;
			vertical-align: middle;
			padding: 0 50px 0 75px;
			border-right: 1px solid #00AAAD;
			&--txt{
				width: 370px;
				float: left;
				font-size: 1.3rem;
				line-height: 25px;
			}
			&--icon{
				float: right;
				padding-top: 10px;
			}
		}
	}
	.c-footer03{
		background: url(/assets/image/common/f-bg01.png) center;
		background-size: cover;
		&__copyright{
			font-size: 1.5rem;
			color: #fff;
			text-align: right;
			padding: 200px 54px 10px 0;
		}
	}
}