/*------------------------------------------------------------
header top
------------------------------------------------------------*/
.c-header{
	height: 701px;
	&__bg{
		width: 1500px;
	    position: absolute;
	    z-index: -1;
	    margin: 0 auto;
		img{
			width: 100%;
			height: 701px;
		}
	}
	&__content{
		position: absolute;
		z-index: 0;
	}
	&__text{
		width: 860px;
		float: right;
		padding: 70px 0 43px 0 ;
		&--contact{
			position: absolute;
			top: 0;
			right: 0;
			z-index: 1000;
			margin: 45px 30px 0 0;
		}
	}
	&__slide{
		margin-left: 78px;
	}
	.slider{
		clear: both;
	  	width: 100%;
	  	width: 1318px;
	  	margin: 0 auto;
	}
	.slick-dots{
		line-height: 1;
		z-index: 1000;
		top: -23px;
		margin-left: 220px;
		display: table;
		li{
			margin: 0 4px;
			background: #FCB316;
		}
	}
	.slick-active{
		background: #00AAAD !important;
	}
}
/*------------------------------------------------------------
	all of page
------------------------------------------------------------*/
.c-head{
	position: relative;
	&__bg{
		position: absolute;
		right: 0;
		z-index: -1;
	}
}
.c-head01{
	width: 530px;
	height: 700px;
	float: left;
	background: url(/assets/image/common/h_bg01.png);
}
.c-head02{
	width: 250px;
	float: right;
	padding: 45px 0 0 5px;
	a{
		overflow: hidden;
	}
}

/*------------------------------------------------------------

------------------------------------------------------------*/
.c-h_infor{
	position: absolute;
	z-index: 1000;
	left: 258px;
	display: flex;
	.tbl-infor{
		background: url(/assets/image/common/bg01.png) no-repeat;
		width: 216px;
		height: 597px;
		padding: 53px 0 0 34px;
		&__txt01{
			font-size: 1.3rem;
			span{
				color: #00AAAD;
			}
		}
		&__txt02{
			font-size: 1.4rem;
			padding: 19px 0 0 7px;
		}
		&__txt03{
			font-size: 1.3rem;
			writing-mode: vertical-lr;
			line-height: 26px;
		    padding-top: 39px;
		    letter-spacing: 1px;
		}
		&__img{
			    padding: 16px 0 0 37px;
		}
		&__txt04{
			padding-top: 88px;
			font-size: 1.2rem;
			p{
				padding-bottom: 7px;
			}
		}
	}
	&--home{
		margin-left: -25px;
	}
}