/*------------------------------------------------------------
layout
------------------------------------------------------------*/
.l-container-fluid{
	 max-width: 1500px;
	 margin: 0 auto;
	 position: relative;
}
.l-container-fluid01{
	 max-width: 1500px;
	 margin: 0 auto;
}
.l-container{
	width: 1000px;
	margin: 0 auto;
}
.l-wrapper{
	width: 715px;
	margin-left: 530px;
}