/*------------------------------------------------------------
flow
------------------------------------------------------------*/
.p-flow{
	.p-flow01{
		&__image01{
			padding-top: 29px;
		}
		&__txt01{
			padding-top: 34px;
			font-size: 1.4rem;
			text-align: center;
			line-height: 2.2rem;
			p{
				padding-bottom: 22px;
			}

		}
		&__step{
			padding: 35px 0 152px 0;
		}
		&__steptitle{
			font-size: 3rem;
			display: flex;
		 	align-items: center;
		 	font-weight: 500;
			&--img{
				float: left;
				margin-right: 22px;
			}
		}
		&__step-cont01{
			width: 100%;
			display: flex;
			.step-img{
				width: 320px;
				float: left;
				text-align: center;
			}
			.step-txt{
				width: 385px;
				text-align: justify;
			}
			.c-txt01{
				text-align: justify;
				padding: 50px 10px 0 13px;
			}
		}
		&__step-cont02{
			width: 100%;
			display: flex;
			padding-top: 10px;
			.step-img{
				width: 305px;
				float: left;
				text-align: center;
			}
			.step-txt{
				width: 410px;
				padding: 12px 0 0 82px;
			}
		}

		#step01{
			.p-flow01__steptitle{
				padding-left: 254px;
			}
		}
		#step03{
			padding-top: 77px;
			.p-flow01__steptitle{
				padding-left: 43px;
			}
			.step-img{
				padding-top: 22px;
			}
		}
		#step02{
			padding-top: 126px;
			position: relative;
			.p-flow01__steptitle{
				padding-left: 8px;
			}

		}
		#step04{
			padding-top: 106px;
			.p-flow01__steptitle{
				padding-left: 10px;
			}
			.c-txt01{
				padding-top: 32px;
			}

		}
		#step05{
			padding-top: 57px;
			.p-flow01__steptitle{
				padding-left: 225px;
			}
			.c-txt01{
				padding-top: 48px;
			}
		}
	}
	.p-flow02{
		padding-bottom: 47px;
		position: relative;
		&__title{
			font-size: 3rem;
			padding-bottom: 16px;
			font-weight: 500;
		}
		&__paragraph{
			padding-bottom: 74px;

		}
	}

	&__bg01{
		background: url(/assets/image/flow/grass01.png);
	    width: 350px;
	    height: 152px;
	    position: absolute;
	    right: -338px;
	    top: 328px;
	}
	&__bg02{
		background: url(/assets/image/flow/grass02.png);
	    width: 373px;
	    height: 126px;
	    position: absolute;
	    left: -538px;
	    top: -70px;
	}
}