/*------------------------------------------------------------
index
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-top{
	background: url(/assets/image/index/bg-top.png);
	background-size: cover;
	background-position: 100%;
	.p-top01{
		padding-top: 27px;
		.l-wrapper{
			position: relative;
		}
		&__title{
			text-align: center;
			font-size: 4.3rem;
			line-height: 60px;
			font-weight: 500;
		}
		&__txt01{
			font-size: 1.4rem;
			line-height: 22px;
			text-align: center;
			padding-top: 20px;
			margin-left: -51px;
		}
		&__img01{
			position: absolute;
			right: 0;
			margin-top: -55px;
		}
		&__block{
			clear: both;
			width: 762px;
			margin-left: 446px;
			padding-top: 60px;
			.block-left{
				width: 350px;
				float: left;
			}
			.block-right{
				width: 402px;
				padding: 59px 0 0 35px;
				display: inline-block;
			}
			.c-txt01{
				padding-top: 12px;
			}
		}
	}
	.p-top02{
		padding-top: 129px;
		&__left{
			width: 330px;
			float: left;
			.c-title02{
				padding-top: 30px;
			}
			.c-txt01{
				padding-top: 26px;
			}

		}
		&__right{
			width: 358px;
			display: inline-block;
			margin-left: 27px;
			padding-top: 63px;
		}
	}
	.p-top03{
		padding-top: 50px;
		&__cont{
			text-align: center;
			padding-top: 22px;
			overflow: hidden;
			&--col1{
				width: 246px;
				float: left;
				.img01{
					padding-bottom: 295px;
				}
			}
			&--col2{
				width: 232px;
				float: left;
				padding-top: 163px;
			}
			&--col3{
				padding: 326px 0 0 7px;
				display: inline-block;
				.bg{
					 position: relative;
					margin-top: -10px;
					z-index: -1;
				}
			}
		}
	}
	.p-top04{
		padding-top: 196px;
		.c-title02{
			padding-top: 5px;
		}
		.c-txt01{
			padding-top: 9px;
		}
		&__block{
			padding-top: 30px;
		}
		&__item{
			width: 580px;
			display: table;
			padding-bottom: 35px;
			.block-img{
				width: 273px;
				text-align: center;
				vertical-align: middle;
				display: table-cell;
			}
			.block-text{
				width: 310px;
			    display: table-cell;
			    .c-txt01{
			    	span{
			    		color: #AB535F;
			    		font-weight: 500;
			    	}
			    }
			}
			&:last-child{
				width: 593px;
				margin-left: 65px;
				.block-text{
					padding-left: 35px;
				}
			}
		}
	}
	.p-top05{
		width: 500px;
		float: right;
		background: #d6eef0;
		padding: 11px;
		margin-top: 305px;
		border-radius: 20px;
		position: relative;
		&__title{
			padding: 28px 0 0 25px;
			&--01{
				font-size: 4.51rem;
				line-height: 1;
			}
			&--02{
				font-size: 1.8rem;
				font-weight: bold;
				color:#00AAAD;
				margin-top: -5px;
			}
		}
		&__img{
			position: absolute;
			top: -28px;
    		right: 25px;
		}
		&__cont{
			background: #fff;
			border-radius: 20px;
			margin-top: 20px;
			padding: 23px 33px 10px  36px;
			&--txt{
				font-size: 2.1rem;
				padding-bottom: 10px;
			}
			.c-txt01{
				text-indent: 10px;
			}
		}
	}
	.p-top06{
		clear: both;
		padding-top: 250px;
		.c-title01{
			float: left;
		}
		&__img{
			margin: -40px 0 0 60px;
			display: inline-flex;
		}
		&__cont{

		}
		.box{
			float: left;
			width: 220px;
			height: 295px;
			margin: 15px 20px 0 0;
			display: inline-block;
			&__img{
				width: 220px;
				height: 125px;
				background: #ccc;
				border-radius: 10px;
			}
			&__txt{
				text-align: center;
				&--01{
					font-size: 3.6rem;
					padding-top: 10px;
				}
				&--02{
					font-size: 1.8rem;
				}
			}
			&:nth-child(3n){
				margin-right: 0;
				float: none;
			}
		}
	}
	.p-top07{
		padding: 30px 0 50px0 0;
		position: relative;
		.c-title02{
			letter-spacing: -1.4px;
		}
		.form-contact{
			padding-top: 40px;
			font-size: 1.6rem;
			.form-lable{
				padding: 5px 0;
				span{
					color: #AB535F;
				}
			}
			.form-text{
				width: 660px;
				height: 18px;
				padding: 10px;
				border: 1px solid #ccc;
				border-radius: 5px;
			}
			.form-textarea{
				width: 660px;
				height: 190px;
				padding: 10px;
				border-radius: 5px;
				border: 1px solid #ccc;
			}
			.form-check{
				margin-left: 15px;
			}
			.form-btn{
				margin-top: 20px;
				a{
					width: 335px;
					text-align: center;
					line-height: 30px;
					color:#fff;
					background:#00AAAD;
					display: inline-block;
					border-radius: 5px;
					&:nth-child(1){
						margin-right: 10px;
					}
				}
			}
		}
	}
}