/*------------------------------------------------------------
 Q&A
------------------------------------------------------------*/
.p-QA{
	.p-accodition{
		width: 100%;
		margin: 27px 0 338px 0;
		border-bottom: 21px solid transparent;
    	-webkit-border-image: url(/assets/image/QA/border.png) 30 round; /* Safari 3.1-5 */
    	-o-border-image: url(/assets/image/QA/border-toppng) 30 round; /* Opera 11-12.1 */
    	border-image: url(/assets/image/QA/border.png) 30 round;
		&__button{
			width: 100%;
			background-color: #fff;
			color: #444;
			cursor: pointer;
			padding: 36px 60px 24px 52px;
			text-align: left;
			font-weight: bold;
			outline: none;
			border: none;
			font-size: 2.1rem;
			transition: 0.4s;
			position: relative;

			border-top: 21px solid transparent;
		    -webkit-border-image: url(/assets/image/QA/border.png) 30 round; /* Safari 3.1-5 */
		    -o-border-image: url(/assets/image/QA/border-toppng) 30 round; /* Opera 11-12.1 */
		    border-image: url(/assets/image/QA/border.png) 30 round;
			&:hover{
				background-color: #fef6e5;
			}
		}
		.p-accodition-active{
			background-color: #fef6e5;
		}
		&__panel {
			max-height: 0;
			overflow: hidden;
			opacity: 0;
			font-size: 1.4rem;
			line-height: 2.1rem;
			.p-QA__lable{
				color: #FCB316;
				float: left;
			}
			p{
				padding-left: 80px;
			}
		}
		.p-acodition-show {
		  	opacity: 1;
			max-height: 100%;
			transition: max-height 0.4s ease-out;
			padding:  10px 60px 66px 52px;
			background-color: #fef6e5;
		}
		.p-acodition-hide {
			opacity: 0;
			max-height: 0;
			transition: max-height 0.4s ease-out;
		}
	}
	&__lable{
		color: #00AAAD;
		font-size: 3.6rem;
		font-weight: bold;
		padding-right: 23px;
	}
}