/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*------------------------------------------------------------*/
.c-title01{
	font-size: 4.51rem;
	line-height: 1;
	&--smtxt{
		font-size: 1.8rem;
	}
	&--color1{
		color: #AB535F;
	}
	&--color2{
		color: #00AAAD;
	}
}
.c-title02{
	font-size: 3rem;
	line-height: 44px;
	font-weight: 500;
}
.c-title03{
	font-size: 2.4rem;
	span{
		color: #AB535F;
	}
	&--smtxt{
		font-size: 1.4rem;
		padding-left: 5px;
	}
}