/*------------------------------------------------------------
text
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-txt01{
	line-height: 24.5px;
	font-size: 1.4rem;
	p{
		padding-bottom: 26px;
	}
}