/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-line{
	height:9px;
	&--01{
		background: url(/assets/image/index/line01.png);
		margin-top: 4px;
	}
	&--02{
		background: url(/assets/image/index/line02.png);
		margin-top: 10px;
	}
}
/*
------------------------------------------------------------*/
.c-contact{
	padding: 86px 0 50px 0;
	position: relative;
	&__infor{
		float: left;
		width: 470px;
		text-align: center;
		&--01{
			font-size: 3rem;
		}
		&--02{
			font-size: 5.793rem;
			line-height: 1;
			padding-top: 21px;
		}
		&--03{
			font-size: 2.2rem;
			padding-top: 7px;
		}
	}
	&__lable{
		 margin: 16px 0 0 72px;
		display: -webkit-inline-box;
	}
}
/*
------------------------------------------------------------*/
.c-bgtree{
	position: absolute;
	left: -544px;
	bottom: -40px;
	z-index: -1;
}
/*
------------------------------------------------------------*/
.c-breadcrumb{
	padding: 45px 0 75px 0;
	overflow: hidden;
	li{
		float: left;
		font-size: 1.2rem;
		a{
			color: #FCB316;
		}
	}
}